/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');

body,
a,
h1,
h2,
h3,
p {

    margin: 0;
    padding: 0;
}

body {
    font-family: 'poppins', sans-serif;
}


/* CARD SESSION */
.container {
    padding: 0 100px;
    width: 1170px;

}

.team-head {
    text-align: center;
    margin-bottom: 50px;
}

.team-head h1 {
    margin-top: 50px;
    margin-bottom: 10px;
}

.team-head p {
    line-height: 25px;
}

.team {
    height: 500px;
    background-color: rgb(153, 153, 153);
    width: 30%;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.5s;
    top: 0px;
}

.team:hover {
    position: relative;
    top: -10px;
}


.team-picture {
    height: 75%;
    background-color: rgb(102, 102, 102);
    border-radius: 10px 10px 0 0;
}

.foto {
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: center;
    position: relative;
    top: 40px;
    left: 25px;
    border-radius: 50%;
}

/* UBAH FOTO satu s/d lima sesuai dengan urutan masing masing */

.satu {
    background-image: url(../odistian.jpg);
}

.dua {
    background-image: url(foto.jpeg);
}

.tiga {
    background-image: url(foto.jpeg);
}

.empat {
    background-image: url(foto.jpeg);
}

.lima {
    background-image: url(foto.jpeg);
}

.team-info {
    text-align: left;
    padding: 20px 20px;
    color: white;
}

.team-info p {
    margin-bottom: 5px;
}

.teams {
    text-align: center;
}

.tombol {
    display: inline-block;
    background-color: rgb(102, 102, 102);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

.button-left {
    float: left;
}

.button-right {
    position: relative;
    float: right;
}

.fab {
    font-size: 28px;
    color: white;
}

/* Footer */
footer {
    background-color: rgb(153, 153, 153);
    padding: 20px 0;
    text-align: center;
    color: white;
}